.MuiCardContent-root{
    background-color: lightgrey;
}
.customerCard{
    margin: 10px;
}
.customerContainer{
    display:inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}